name: GCC Docs Coverage Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FC: gfortran-10
      CC: gcc-10

    strategy:
      matrix:
        openmp: [ ON, OFF ]
        
    steps:

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install doxygen
        python3 -m pip install gcovr

    - name: checkout-sp
      uses: actions/checkout@v2
      with:
        repository: NOAA-EMC/NCEPLIBS-sp
        path: sp
        ref: v2.3.3

    - name: build-sp
      run: |
        cd sp
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=~/sp
        make -j2
        make install

    - name: checkout
      uses: actions/checkout@v2
      with: 
        path: ip
        submodules: true

    - name: build
      run: |
        cd ip
        mkdir build 
        cd build
        cmake .. -DENABLE_DOCS=YES -DCMAKE_PREFIX_PATH="~/" -DOPENMP=${{ matrix.openmp }} -DCMAKE_Fortran_FLAGS="-g -fprofile-abs-path -fprofile-arcs -ftest-coverage -O0" -DCMAKE_C_FLAGS="-g -fprofile-abs-path -fprofile-arcs -ftest-coverage -O0"
        make -j2
    
    - name: test
      run: |
        cd $GITHUB_WORKSPACE/ip/build
        ctest --output-on-failure

    - name: run-gcovr
      run: |
        cd $GITHUB_WORKSPACE/ip/build
        gcovr -r .. -v  --html-details -o test-coverage.html

    - name: upload-test-coverage
      uses: actions/upload-artifact@v2
      with:
        name: test-coverage
        path: ip/build/*.html
